.image 
  .image__form
    %h1 写真を投稿する
    .image__form-camera 
      = icon("fas","camera")
  .form
    .form__box
      = icon("fas","image")
    .form__image
      = form_for @photo do |f|
        = f.file_field :image 
        = f.submit "投稿"