.contents
  -if user_signed_in?
    .contents__title 
      =link_to '観光スポットを投稿する', new_photo_path, class:"contents__title-new"
  .contents__img
    = image_tag "/image/tokushima3.jpg", class:"contents__image"
    = image_tag "/image/tokushima1.jpg", class:"contents__image-slide"
    = image_tag "/image/tokushima2.jpg", class:"contents__image-slide"
    .contents__icons-left
      = icon "fas", "arrow-left"
    .contents__icons-right
      = icon "fas","arrow-right"
  .contents__title 観光スポットを検索する
  %input{type:"keyword", placeholder:"検索", class: "search-input"}
  .contents__list
    .contents__list-image
      - @photo.shuffle.first(6).each do |photo|
        = link_to photo_path(photo.id) do
          = image_tag photo.image.url 
.footer Tourist information center