.header
  .header__title 
    =link_to 'Tic', root_path, class: "header__title-root"
  .header__list 
    -if user_signed_in?
      %p.name
        = current_user.name
      %p 
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
    - else
      %p 
        = link_to 'ログイン', new_user_session_path
      %p 
        = link_to '新規登録', new_user_registration_path
.contents
  -if user_signed_in?
    .contents__title 
      =link_to '観光スポットを投稿する', new_photos_path, class:"contents__title-new"
  = image_tag "/image/tokushima3.jpg", class:"contents__image"
  .contents__title 観光スポットを検索する
  %input{type:"text"}
  %input{type:"submit", value:"検索"} 
  .contents__list
    .contents__list-image
      = image_tag "/image/tokushima1.jpg"
      = image_tag "/image/tokushima2.jpg"
      = image_tag "/image/tokushima4.jpg"
.footer Tourist information center