!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Tic
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
  .header
    .header__title 
      =link_to 'Tic', root_path, class: "header__title-root"
    .header__list 
      -if user_signed_in?
        %p.name
          = link_to current_user.name , user_path(current_user)
        %p 
          = link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        %p 
          = link_to 'ログイン', new_user_session_path
        %p 
          = link_to '新規登録', new_user_registration_path
  = yield
